.bg-modal {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #a0a0a0a1;
}

.modal {
    margin: auto;
    position: relative;
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    height: 350px;
    width: 340px;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.modal-title {
    background-color: #0079BD;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    min-height: 40px;
    width: 100%;
}

.modal-title i {
    cursor: pointer;
    position: relative;
    
    margin: -20px 0px 0px 255px;
    color: #fff;
    font-size: 19px;
}
.modal-title h6 {
    font-family: Nunito;
    font-weight: 900;
    color: #fff;
    margin: 0;
    font-size: 16px;
}

.field-container {
    margin: 10px;
    width: 100%;
}

.title-entry {
    margin-top: 0px;
    margin-bottom: 15px;
}

#input-icon-style {
    height: 34px;
    padding: 5px 5px 8px 6px;
    background-color: #C5C5C7;
    font-size: 19px;
    color: #fff;
    border-radius: 15px 0px 0px 15px;
    margin: 0;
    border: #c5c5c7 1px solid;
}

.input-style {
    border: #c5c5c7 1px solid;
    border-radius: 0 15px 15px 0;
    width: 90%;
    padding: 10px;
    height: 34px
}

.input-style:focus {
        padding: 0.6em;
        border: 1px solid rgba(138, 212, 238);
        outline: 3px solid rgba(138, 212, 238, 0.5);
    }

.title-entry select {
    cursor: pointer;
    background-color: #ffffff;
    border: #7a7a7a73 1px solid;
    width: 90%;
    height: 34px;
    margin: 0;
    font-weight: 600;
    padding: 0px 0px 0px 5px;
    color: #7a7a7a;
    text-indent: 0.01px;
    border-radius: 0px 15px 15px 0px;
}

.two-entry-row {
    display: flex;
    margin: 0;
}

#select-width {
    width: 65%;
}

#entry-width {
    margin: 0;
}
#entry-width input {
    width: 82%;
}