<div class="bg-modal">
  <div class="modal">
    <div class="modal-title">
      <h6>Adicionar Livro</h6>
      <i class="fa fa-times"></i>
    </div>

    <div class="field-container">
      <div class="title-entry">
        <i id="input-icon-style" class="fa fa-times"></i>
        <input class="input-style" type="text" placeholder="Título">
      </div>

      <div class="title-entry">
        <i id="input-icon-style" class="fa fa-times"></i>
        <input class="input-style" type="text" placeholder="Título">
      </div>

      <div class="title-entry">
        <i id="input-icon-style" class="fa fa-times"></i>
        <select>      
          <option>Todos os campos</option>      
          <option value="Assunto1">Assunto 1</option>
          <option value="Assunto2">Assunto 2</option>
          <option value="Titulo">Título</option>
          <option value="Autor">Autor</option>
          <option value="Tombo">Tombo</option>
          <option value="Serie">Serie</option>
      </select>
      </div>

      <div class="two-entry-row">
        <div class="title-entry">
          <i id="input-icon-style" class="fa fa-times"></i>
          <select id="select-width">      
            <option>Ano</option>      
            <option value="Assunto1">Assunto 1</option>
            <option value="Assunto2">Assunto 2</option>
            <option value="Titulo">Título</option>
            <option value="Autor">Autor</option>
            <option value="Tombo">Tombo</option>
            <option value="Serie">Serie</option>
        </select>
        </div>

        <div id="entry-width" class="title-entry">
          <i id="input-icon-style" class="fa fa-times"></i>
          <input class="input-style" type="text" placeholder="Volume">
        </div>
      </div>
  </div>

    
  </div>
</div>