<div class="top-bar">
    <h3>Registro de Livros</h3>

    <button class="btn" (click)="open(content)">
        <i class="fa fa-plus"></i>
        Novo Livro
    </button>
</div>
        
<div class="actions">
    <form>
        <i id="input-icon" class="fa fa-sort"></i>
        <select class="select-filter">      
            <option>Todos os campos</option>      
            <option value="Assunto1">Assunto 1</option>
            <option value="Assunto2">Assunto 2</option>
            <option value="Titulo">Título</option>
            <option value="Autor">Autor</option>
            <option value="Tombo">Tombo</option>
            <option value="Serie">Serie</option>
        </select>
    </form>
    <form>                    
        <i id="input-icon" class="fa fa-search"></i>
        <input class="input-search" type="text" placeholder="Procurar por livro...">
    </form>    

    <button class="btn">Pesquisar</button>
</div>        

<div class="table">
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID Livro</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Assunto I</th>
                <th>Exemplares</th>
                <th>Ação</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let livro of livros">
                <td>{{ livro.livrosId }}</td>
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.autor }}</td>
                <td>{{ livro.categoria }}</td>
                <td>{{ livro.exemplares }}</td>
                <td>
                    <a title="Editar"><i class="fa fa-pencil"></i></a>
                    <a title="Remover"><i class="fa fa-minus"></i></a>
                    <a title="Remover"><i class="fa fa-minus"></i></a>
                </td>
            </tr>              
        </tbody>
    </table>
</div>

<!--MODAL POPUP-->
<ng-template #content let-modal>
    <div class="modal-body">
        <form class="modal-form" [formGroup]='livrosForm' (submit)="onSubmit()">
            <div class="bg-modal">
                <div class="container-popup">
                  <div class="left-side">
                    <h3>Informações Gerais do Livro</h3>
            
                    <input class="input-style" type="text" placeholder="Título... *" formControlName='titulo'>
            
                    <div class="two-fields-row">
                        <input class="input-style" type="text" placeholder="Autor... *" formControlName='autor'>
                        <input class="input-style" type="text" placeholder="Editora..." formControlName='editora'>
                    </div>

                    <div class="two-fields-row">
                        <select formControlName='categoria'>      
                          <option>Assunto I *</option>      
                          <option value="Assunto1">Assunto 1</option>
                        </select>

                        <select  formControlName='categoria2'>      
                            <option>Assunto II</option>      
                            <option value="Assunto2">Assunto 2</option>
                        </select>
                    </div>
            
                    <input class="input-style" type="text" placeholder="Ano de Lançamento..." formControlName='ano'>
                    <input class="input-style" type="text" placeholder="Exemplares... *" formControlName='exemplares'>
                    <input class="input-style" type="text" placeholder="Volume..." formControlName='volume'>

                    <p>Caro usuário, campos contento ( * ) devem ser 
                        obrigatoriamente preenchidos.</p> 
                  </div>
            
                  <div class="right-side">
                    <h3>Identificação do Livro</h3>
           
                    <input class="input-style" type="text" placeholder="Serie... *" formControlName='serie'>
                    <input class="input-style" type="text" placeholder="Tombo... *" formControlName='tombo'>
            
                    <input class="input-style" type="text" placeholder="Classificação... *" formControlName='classificacao'>
         
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Pellentesque orci turpis, imperdiet sed lacus eget.</p>
            
                    <button class="btn" type="submit"><i class="fa fa-save"></i>Salvar Livro</button>
                  </div>
            
                  <a (click)="close">
                    <i id="icon-close" class="fa fa-times"></i>
                  </a>
                </div>
              </div>
        </form>
    </div>
</ng-template>        