
        <div class="top-bar">
            <h3>People</h3>

            <button class="btn" (click)="open(content)">Adicionar</button>
        </div>
        
        <div class="actions">
            <form>
                <i id="input-icon" class="fa fa-sort"></i>
                <select>      
                    <option>Todos os campos</option>      
                    <option value="Assunto1">Assunto 1</option>
                    <option value="Assunto2">Assunto 2</option>
                    <option value="Titulo">Título</option>
                    <option value="Autor">Autor</option>
                    <option value="Tombo">Tombo</option>
                    <option value="Serie">Serie</option>
                </select>
            </form>
            <form>                    
                <i id="input-icon" class="fa fa-search"></i>
                <input type="text" placeholder="Procurar livro...">
            </form>    

            <button class="btn">Pesquisar</button>
        </div>

        <div class="table">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Last Update</th>
                        <th>Birthday</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Harry Potter: A Câmara Secreta</td>
                        <td>J.K. Rowling</td>
                        <td>Aventura</td>
                        <td>9</td>
                        <td>
                            <a><i class="fa fa-pencil"></i></a>
                            <a><i class="fa fa-minus"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Harry Potter: A Câmara Secreta</td>
                        <td>J.K. Rowling</td>
                        <td>Aventura</td>
                        <td>9</td>
                        <td>
                            <a><i class="fa fa-pencil"></i></a>
                            <a><i class="fa fa-minus"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Harry Potter: A Câmara Secreta</td>
                        <td>J.K. Rowling</td>
                        <td>Aventura</td>
                        <td>9</td>
                        <td>
                            <a><i class="fa fa-pencil"></i></a>
                            <a><i class="fa fa-minus"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Harry Potter: A Câmara Secreta</td>
                        <td>J.K. Rowling</td>
                        <td>Aventura</td>
                        <td>9</td>
                        <td>
                            <a><i class="fa fa-pencil"></i></a>
                            <a><i class="fa fa-minus"></i></a>
                        </td>
                    </tr>
                    <tr class="active-row">
                        <td>Harry Potter: A Câmara Secreta</td>
                        <td>J.K. Rowling</td>
                        <td>Aventura</td>
                        <td>9</td>
                        <td>
                            <a><i class="fa fa-pencil"></i></a>
                            <a><i class="fa fa-minus"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>Harry Potter: A Câmara Secreta</td>
                        <td>J.K. Rowling</td>
                        <td>Aventura</td>
                        <td>9</td>
                        <td>
                            <a><i class="fa fa-pencil"></i></a>
                            <a><i class="fa fa-minus"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>Harry Potter: A Câmara Secreta</td>
                        <td>J.K. Rowling</td>
                        <td>Aventura</td>
                        <td>9</td>
                        <td>
                            <a><i class="fa fa-pencil"></i></a>
                            <a><i class="fa fa-minus"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]='livrosForm'>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Série" formControlName='serie'/>
                        <input class="form-control" type="text" placeholder="Tombo" formControlName='tombo'/>
                        <input class="form-control" type="text" placeholder="Classificação" formControlName='classificacao'/>
                    </div>
                    <div  class="form-group">
                        <input class="form-control" type="text" placeholder="Título" formControlName='titulo'/>
                        <input class="form-control" type="text" placeholder="Autor" formControlName='autor'/>
                        <input asp-for="Editora" class="form-control" type="text" placeholder="Editora" formControlName='editora'/>
                    </div>
                
                    <div>
                        <input asp-for="Ano" class="form-control" type="text" placeholder="Ano" formControlName='ano'/>
                        <input asp-for="Exemplares" class="form-control" type="number" placeholder="Quantidade de Exemplares" formControlName='exemplares'/>
                        <input asp-for="Volume" class="form-control" type="text" placeholder="Volume" formControlName='volume'/>
                    </div>
                    <div class="form-group">
                        <select formControlName='categoria'>
                            <option value="">Assunto</option>
                            <option value="Artigo acadêmico">Artigo acadêmico</option>
                            <option value="Artigo científico">Artigo científico</option>
                            <option value="Aventura">Aventura</option>
                            <option value="Biografia">Biografia</option>
                            <option value="Carta ">Carta </option>
                            <option value="Comédia dramática">Comédia dramática</option>
                            <option value="Conto">Conto</option>
                            <option value="Crônica">Crônica</option>
                            <option value="Drama">Drama</option>
                            <option value="Drama (Teatro)">Drama (Teatro)</option>
                            <option value="Ensaio">Ensaio</option>
                            <option value="História em Quadrinhos (HQ)">História em Quadrinhos (HQ)</option>
                            <option value="Jurídico">Jurídico</option>
                            <option value="Literatura fantástica">Literatura fantástica</option>
                            <option value="Literatura Infantil">Literatura Infantil</option>
                            <option value="Literatura Infanto-Juvenil">Literatura Infanto-Juvenil</option>
                            <option value="Literatura nacional">Literatura nacional</option>
                            <option value="Médico">Médico</option>
                            <option value="Memórias">Memórias</option>
                            <option value="Novela">Novela</option>
                            <option value="Poesia">Poesia</option>
                            <option value="Policial">Policial</option>
                            <option value="Psicológico">Psicológico</option>
                            <option value="Romance">Romance </option>
                            <option value="Romântico">Romântico</option>
                            <option value="Suspense">Suspense</option>
                            <option value="Terror">Terror</option>
                        </select>

                        <select formControlName='categoria2'>
                            <option value="">Assunto 2</option>
                            <option value="Artigo acadêmico">Artigo acadêmico</option>
                            <option value="Artigo científico">Artigo científico</option>
                            <option value="Aventura">Aventura</option>
                            <option value="Biografia">Biografia</option>
                            <option value="Carta ">Carta </option>
                            <option value="Comédia dramática">Comédia dramática</option>
                            <option value="Conto">Conto</option>
                            <option value="Crônica">Crônica</option>
                            <option value="Drama">Drama</option>
                            <option value="Drama (Teatro)">Drama (Teatro)</option>
                            <option value="Ensaio">Ensaio</option>
                            <option value="História em Quadrinhos (HQ)">História em Quadrinhos (HQ)</option>
                            <option value="Jurídico">Jurídico</option>
                            <option value="Literatura fantástica">Literatura fantástica</option>
                            <option value="Literatura Infantil">Literatura Infantil</option>
                            <option value="Literatura Infanto-Juvenil">Literatura Infanto-Juvenil</option>
                            <option value="Literatura nacional">Literatura nacional</option>
                            <option value="Médico">Médico</option>
                            <option value="Memórias">Memórias</option>
                            <option value="Novela">Novela</option>
                            <option value="Poesia">Poesia</option>
                            <option value="Policial">Policial</option>
                            <option value="Psicológico">Psicológico</option>
                            <option value="Romance">Romance </option>
                            <option value="Romântico">Romântico</option>
                            <option value="Suspense">Suspense</option>
                            <option value="Terror">Terror</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save')">Save</button>
            </div>
          </ng-template>