<link rel="stylesheet" href="~/css/acervo.css">

<div class="menu-categoria">
    <img class="logo" src="~/assets/logo.png" />
    <hr />
    <h6>Categorias</h6>
    <ul>
        <li><a href="">Romance</a> <span>(5)</span> </li>
        <li><a href="">Literatura</a> <span>(15)</span></li>
        <li><a href="">Ficção</a> <span>(2)</span></li>
    </ul>
</div>
<div class="wrapper-livros">
    <div class="promocional">
    </div>
    <div class="livros">
        <div class="livro-geral">
            <a href="http://TESTE">
                <div class="foto-livro"></div>
                <div class="descricao-livro">
                    <p>O Conde de Monte Cristo</p>
                </div>
            </a>
        </div>
        <div class="livro-geral">
            <a href="http://TESTE">
                <div class="foto-livro"></div>
                <div class="descricao-livro">
                    <p>O Conde de Monte Cristo</p>
                </div>
            </a>
        </div>
        <div class="livro-geral">
            <a href="http://TESTE">
                <div class="foto-livro"></div>
                <div class="descricao-livro">
                    <p>O Conde de Monte Cristo</p>
                </div>
            </a>
        </div>
        <div class="livro-geral">
            <a href="http://TESTE">
                <div class="foto-livro"></div>
                <div class="descricao-livro">
                    <p>O Conde de Monte Cristo</p>
                </div>
            </a>
        </div>
        <div class="livro-geral">
            <a href="http://TESTE">
                <div class="foto-livro"></div>
                <div class="descricao-livro">
                    <p>O Conde de Monte Cristo</p>
                </div>
            </a>
        </div>
        <div class="livro-geral">
            <a href="http://TESTE">
                <div class="foto-livro"></div>
                <div class="descricao-livro">
                    <p>O Conde de Monte Cristo</p>
                </div>
            </a>
        </div>
        <div class="livro-geral">
            <a href="http://TESTE">
                <div class="foto-livro"></div>
                <div class="descricao-livro">
                    <p>O Conde de Monte Cristo</p>
                </div>
            </a>
        </div>
    </div>
</div>