<link rel="stylesheet" href="~/css/reserva.css">

<div class="menu-categoria">
    <img class="logo" src="~/assets/logo.png" />
    <hr />
    <h6>Reservas</h6>
    <ul>
        <li><a href="">Entregues</a> <span>(15)</span></li>
        <li><a href="">Não Entregues</a> <span>(2)</span></li>
    </ul>
</div>
<div class="wrapper-reserva">
    <div class="reserva">
        <h5>Livro: O Conde de Monte Cristo</h5>
        <p>DATA: 12/04/2021</p>
    </div>
    <div class="reserva">
        <h5>Livro: O Conde de Monte Cristo</h5>
        <p>DATA: 12/04/2021</p>
    </div>
    <div class="reserva">
        <h5>Livro: O Conde de Monte Cristo</h5>
        <p>DATA: 12/04/2021</p>
    </div>
</div>