@model Emprestimo

@{
    Layout = "_LayoutPanel";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="~/css/global/create-edit.css" rel="stylesheet" />

<div class="header-table">
    <div class="wrapper-content-title">
        <i class="fa fa-file"></i>
        <h6>Adicionar Empréstimo</h6>
    </div>
</div>

<div id="title-table-divisor" class="divisor"></div>

<form asp-action="Create">
    <label>Selecione um Usuário</label>
    <select id="usuarios" class="form-control" asp-items="@ViewBag.Usuarios" asp-for="UsuariosId">
        <option></option>
    </select>

    <label>Selecione um Livro</label>
    <select multiple id="livros" class="form-control" asp-items="@ViewBag.Livros" asp-for="Livros">
        <option></option>
    </select>

    <div class="datas">
        <div>
            <label>Data do Empréstimo</label>
            <input type="date" asp-for="DtEmprestimo" class="form-control" />
        </div>

        <div>
            <label>Data Prevista da Devolução</label>
            <input type="date" asp-for="DtPrevistoDevolucao" class="form-control" />
        </div>
    </div>

    <label>Observações</label>
    <textarea asp-for="Observacao"></textarea>

    <div>
        <input type="submit" class="btn-submit" value="Emprestar" />
    </div>
</form>


<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="~/js/Emprestimo.js"></script>
