@{
    if (ViewBag.Nome != null)
    {
        <ul class="menu-login">
            <li class="mr-2">
                @ViewBag.Nome
            </li>
            <li> | </li>
            <li>
                <a asp-controller="Panel" asp-action="Panel">Panel</a>
            </li>
            <li> | </li>
            <li>
                <a asp-controller="Home" asp-action="Logout">Logout</a>
            </li>
        </ul>
    }
    else
    {
        <ul class="menu-login">
            <li>
                <a asp-controller="Home" asp-action="Login">Logar</a>
            </li>
            @*<li>
                <a asp-controller="Home" asp-action="Registrar">Registrar</a>
            </li>*@
        </ul>
    }
}