<div class="top-container">
    <div class="user-box">
        <div class="user">
            <i class="fa fa-user"></i>
            <a>Olá, Administrador</a>    
        </div>
    
        <div class="menu">
            <i class="fa fa-bars"></i>
            <a>Menu</a>    
        </div>
    </div>
</div>

<div class="container">    
    <div class="nav-content">
        <nav>
            <ul>
                <img class="logo-header" alt="logo" src="../../assets/logobranca.png">

                <li class="side-nav-li" routerLink="/dashboard">
                    <i class="fa fa-home"></i>
                    <a>Início</a>
                </li>   
                
                <li class="side-nav-li" routerLink="livro">
                    <i class="fa fa-book"></i>
                    <a>Livros</a>
                </li>    

                <li class="side-nav-li" routerLink='emprestimo'>
                    <i class="fa fa-file"></i>
                    <a>Emprestímos</a>
                </li>   
                
                <li class="side-nav-li" routerLink='devolucao'>
                    <i class="fa fa-home"></i>
                    <a>Devoluções</a>
                </li> 

                <li class="side-nav-li" routerLink='leitor'>
                    <i class="fa fa-user"></i>
                    <a>Leitores</a>
                </li> 
            </ul>
        </nav>
    </div>
    
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>