<div class="container">
    <div class="nav-content">
        <nav>

            <ul>
                <img class="logo-header" alt="logo" src="../../assets/logobranca.png">

                <li class="side-nav-li">
                    <i class="fa fa-home"></i>
                    <a>Início</a>
                </li>   
                
                <li class="side-nav-li">
                    <i class="fa fa-book"></i>
                    <a>Livros</a>
                </li>    

                <li class="side-nav-li">
                    <i class="fa fa-file"></i>
                    <a>Emprestímos</a>
                </li>   
                
                <li class="side-nav-li">
                    <i class="fa fa-home"></i>
                    <a>Devoluções</a>
                </li> 

                <li class="side-nav-li">
                    <i class="fa fa-user"></i>
                    <a>Leitores</a>
                </li> 
            </ul>

        </nav>
    </div>

    <div class="content">
        <div class="top-bar">
            <h3>People</h3>

            <button class="btn">Adicionar</button>
        </div>
        
        <div class="actions">
            <form>
                <i id="input-icon" class="fa fa-sort"></i>
                <select>      
                    <option>Todos os campos</option>      
                    <option value="Assunto1">Assunto 1</option>
                    <option value="Assunto2">Assunto 2</option>
                    <option value="Titulo">Título</option>
                    <option value="Autor">Autor</option>
                    <option value="Tombo">Tombo</option>
                    <option value="Serie">Serie</option>
                </select>
            </form>
            <form>                    
                <i id="input-icon" class="fa fa-search"></i>
                <input type="text" placeholder="Procurar livro...">
            </form>    

            <button class="btn">Pesquisar</button>
        </div>

        <div class="table">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Last Update</th>
                        <th>Birthday</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Harry Potter: A Câmara Secreta</td>
                        <td>J.K. Rowling</td>
                        <td>Aventura</td>
                        <td>9</td>
                        <td>
                            <a><i class="fa fa-pencil"></i></a>
                            <a><i class="fa fa-minus"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Harry Potter: A Câmara Secreta</td>
                        <td>J.K. Rowling</td>
                        <td>Aventura</td>
                        <td>9</td>
                        <td>
                            <a><i class="fa fa-pencil"></i></a>
                            <a><i class="fa fa-minus"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Harry Potter: A Câmara Secreta</td>
                        <td>J.K. Rowling</td>
                        <td>Aventura</td>
                        <td>9</td>
                        <td>
                            <a><i class="fa fa-pencil"></i></a>
                            <a><i class="fa fa-minus"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Harry Potter: A Câmara Secreta</td>
                        <td>J.K. Rowling</td>
                        <td>Aventura</td>
                        <td>9</td>
                        <td>
                            <a><i class="fa fa-pencil"></i></a>
                            <a><i class="fa fa-minus"></i></a>
                        </td>
                    </tr>
                    <tr class="active-row">
                        <td>Harry Potter: A Câmara Secreta</td>
                        <td>J.K. Rowling</td>
                        <td>Aventura</td>
                        <td>9</td>
                        <td>
                            <a><i class="fa fa-pencil"></i></a>
                            <a><i class="fa fa-minus"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>Harry Potter: A Câmara Secreta</td>
                        <td>J.K. Rowling</td>
                        <td>Aventura</td>
                        <td>9</td>
                        <td>
                            <a><i class="fa fa-pencil"></i></a>
                            <a><i class="fa fa-minus"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>Harry Potter: A Câmara Secreta</td>
                        <td>J.K. Rowling</td>
                        <td>Aventura</td>
                        <td>9</td>
                        <td>
                            <a><i class="fa fa-pencil"></i></a>
                            <a><i class="fa fa-minus"></i></a>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>