body, html {
    background-image: none !important;
}

.top-container {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #eee;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.05);
}

.user-box {
    width: 30%;
    justify-content: space-around;
    display: flex;
    height: 50px;
}

.user {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    width: 175px;
    border-right: 1px solid #eee;
    padding: 5px;
}

.user i {
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    background-color: #0079bd;
    color: #fff;
    border-radius: 20px;
    width: 40px;
    height: 40px;
}

.user a {
    font-family: Nunito;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    color: #5a5a5a;
    transition: 0.3s;
}

.user a:hover {
    color: #0079bd;
}

.menu {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
}

.menu i {
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    color: #5a5a5a;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.menu i:hover {
    color: #fff;
    background-color: #0079bd;
}

.menu a {
    font-family: Nunito;
    font-size: 13px;
    font-weight: 800;
    transition: 0.3s;
    color: #5a5a5a;
    cursor: pointer;
}

.menu a:hover {
    color: #0079bd;
}

.container {
    background-color: #fff;
    background-size: cover;
    position: relative;
    display: flex;
    max-width: 100%;
    height: 100%;
    margin: 5px 0px 0px 0px;
    padding: 0px;
}

/* #region NAV */
.nav-content {
    display: flex;
    height: 100%;
    width: 10%;
}

.nav-content h3 {
    font-family: Nunito;
    font-weight: 500;
    margin: 20px 0px 0px 0px;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    transition: 0.3s;
    text-align: center;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    box-shadow: none;
    color: #fff;
    height: 100%;
    align-content: flex-start;
    background-color: #fff;
}

.logo-header {
    width: 100%;
    margin: 10px 0px 20px 0px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: transparent;
    width: 100%;
    height: 45px;
}

ul li {
    border-radius: 0px;
    width: 100%;
    border: none;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    margin: 8px 0px 8px 0px;
    padding: 10px 0px 0px 0px;
    cursor: pointer;
}

ul li:hover {
    border-radius: 25px;
    background-color: transparent;
}

ul li i {
    color: #52c1ff;
    font-size: 16px;
    margin: 0px;
    border: 3px solid #52c1ff;
    border-radius: 15px;
    min-width: 32px;
    min-height: 32px;
    padding: 5px;
}

ul li a {
    font-family: Nunito;
    font-weight: 500;
    margin: 10px;
    font-size: 14px;
    color: #52c1ff;
    letter-spacing: 0;
    transition: 0.3s;
    text-align: center;
}

ul li:hover i {
    color: #0079bd;
    border-color: #0079bd;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
}

ul li:hover a {
    color: #0079bd;
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 1px;

    cursor: pointer;
}

/* #endregion NAV */

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 30px;
    width: 100%;
}

