<div class="top-container">
    <h3>Libre Maragogi</h3>
    
    <div class="user-box">            
        <div class="user">
            <i class="fa fa-user"></i>
            <a>Olá, faça seu login</a>    
            <i class="fa fa-caret-down"></i>
        </div>
    </div>
</div>

<div class="container">    
    <div class="side-nav">
        <nav>
            <ul>        
                <p id="paragraph-spacing">
                    <i class="fa fa-th-list"></i>        
                    Assuntos</p>
                
                <li class="side-nav-li">
                    <a>Administração, Negócios e Economia</a>
                </li>    

                <li class="side-nav-li">
                    <a>Arte, Cinema e Fotografia</a>
                </li>   
                
                <li class="side-nav-li">
                    <a>Artesanato, Casa e Estilo de Vida</a>
                </li> 

                <li class="side-nav-li">
                    <a>Autoajuda</a>
                </li> 

                <li class="side-nav-li">
                    <a>Biografias e Histórias Reais</a>
                </li> 

                <li class="side-nav-li">
                    <a>Ciências</a>
                </li> 

                <li class="side-nav-li">
                    <a>Computação, Informática e Mídias Digitais</a>
                </li> 

                <li class="side-nav-li">
                    <a>Crônicas, Humor e Entretenimento</a>
                </li> 

                <li class="side-nav-li">
                    <a>Direito</a>
                </li> 
            </ul>
        </nav>        
    </div>

    <div class="content">
        <div class="form">                    
            <input class="input-search" type="text" placeholder="Procurar por livro...">
            <i id="input-icon" class="fa fa-search"></i>

        </div>  

        <div class="actions">
            <h3 title="Home">Procurando em "..."</h3>            
            
            <select title="Ordenar por">
                <option>Ordenar Por:</option>
                <option>Teste</option>
                <option>Teste</option>
                <option>Teste</option>
            </select>
        </div> 
        
        <div class="bookshelf">
            <div class="card">
                <div class="card-hover">
                    <h2>
                        <i class="fa fa-book"></i>
                        mais esperto que o diabo
                    </h2>

                    <h1>
                        <i class="fa fa-user"></i>
                        napoleon hill
                    </h1>
                    
                    <button class="btn" type="submit">
                        <i class="fa fa-plus-circle"></i>
                        Reservar
                    </button>
                </div>                
            </div>   
            
            <div class="card">
                <div class="card-hover">
                    <h2>
                        <i class="fa fa-book"></i>
                        mais esperto que o diabo
                    </h2>

                    <h1>
                        <i class="fa fa-user"></i>
                        napoleon hill
                    </h1>
                    
                    <button class="btn" type="submit">
                        <i class="fa fa-plus-circle"></i>
                        Reservar
                    </button>
                </div>                
            </div> 

            <div class="card">
                <div class="card-hover">
                    <h2>
                        <i class="fa fa-book"></i>
                        mais esperto que o diabo
                    </h2>

                    <h1>
                        <i class="fa fa-user"></i>
                        napoleon hill
                    </h1>
                    
                    <button class="btn" type="submit">
                        <i class="fa fa-plus-circle"></i>
                        Reservar
                    </button>
                </div>                
            </div> 

            <div class="card">
                <div class="card-hover">
                    <h2>
                        <i class="fa fa-book"></i>
                        mais esperto que o diabo
                    </h2>

                    <h1>
                        <i class="fa fa-user"></i>
                        napoleon hill
                    </h1>
                    
                    <button class="btn" type="submit">
                        <i class="fa fa-plus-circle"></i>
                        Reservar
                    </button>
                </div>                
            </div> 
           
        </div>

        <div class="pagination">
            <button class="btn">Anterior</button>

            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>

            <button class="btn">Proxímo</button>
        </div>
    </div>
</div>

<footer>                
    <div class="right-side-footer">
      <div class="contact-us">
        <h4>Desenvolvido por</h4>
        <p>Website desenvolvido pela empresa <a href="https://trtecnologias.com.br/" target="about_blank">TR Tecnologias</a></p>

        <div class="git-hub-us">
            <p>
              Programado por <br> 
              <i class="fa fa-github"></i>
              <a href="https://github.com/renatorocketdev" target="about_blank">Renato Alves</a>
            </p>
    
            <p>
              Design por <br> 
              <i class="fa fa-github"></i>
              <a href="https://github.com/CaioSales123" target="about_blank">Caio Sales</a>
            </p>
          </div>
      </div>
    </div>  
    
    <h3>© 2021 - Governo do Estado de Alagoas. Todos os direitos reservados.</h3>
  </footer>