<router-outlet></router-outlet>

<!-- <div class="box">
    <div class="header">
        <nav>
            <ul>
                <li><a routerLink="emprestimo">Administrador</a><i class="fa fa-user"></i></li>           
                <li><i class="fa fa-caret-down"></i></li>           

                <li><a routerLink="emprestimo"><i class="fa fa-bars"></i> Menu</a></li>           
            </ul>         
        </nav>
    </div>

    <div class="content">
        <div class="menu-categoria">
            <img class="logo" src="~/assets/logofinal.png" alt="logo"/>
            <hr />
            <h6>ACERVO</h6>
            <ul>
                <li><a routerLink="home"><i class="fa fa-home"></i> Início</a></li>
                <li><a routerLink="livro"><i class="fa fa-book"></i> Livros</a></li>
            </ul>
            <div class="divisor"></div>

            <h6>EMPRÉSTIMOS</h6>
            <ul>
                <li><a routerLink="emprestimo"><i class="fa fa-file"></i> Empréstimos</a></li>           
            </ul>
            <div class="divisor"></div>

            <h6>DEVOLUÇÕES</h6>
            <ul>
                <li><a routerLink="devolucao"><i class="fa fa-file"></i> Devoluções</a></li>              
            </ul>
            <div class="divisor"></div>

            <h6>LEITORES</h6>
            <ul>
                <li><a routerLink="welcome"><i class="fa fa-file"></i> Leitores</a></li>  
            </ul>
        </div>

        <div class="wrapper-content">

        </div>
    </div>
</div> -->